* {
  font-family: Roboto, Helvetica Infant, EM_HelvInfant, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.body_text {    
  font-size: 18px;
}

.body_text_s2 {    
  font-size: 16px;
}

h1 {
  font-size: 24px !important;
  font-weight: 500;
  color: #f00;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  color: #00f;
}

.list_item {
  font-size: 16px;
}

.container_left {
  width: 250px;
  background-color: #ddd;
  flex-shrink: 0;
  transition: transform 0.5s ease;
}

.container_main {
  margin-right: 20px;
}

/* Full screen width on small devices */
@media (min-width: 769px) {
  .container_left {
    height: 100%;
    position: fixed;
  }

  .container_main {
    margin-left: 270px;
  }
}

  .menu-btn {
      display: none; /* Hide on screens wider than 768px */
  }

@media (max-width: 768px) {
  .container_left {
    transform: translateX(-100%); /* Hide menu */
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  /* Show menu button */
  .menu-btn {
    display: block;
    background-color: #f00; /* Or any preferred color */
    color: #fff;
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    height: 40px;
    position: fixed;
  }

  .container_main {
    margin-left: 60px;
  }
}

/* When the sideNav is active */
.container_left.active {
  transform: translateX(0);
}

.left_button {
  font-size: 16px;
  color: #fff;
  margin-bottom: 3px;
  padding-left: 3px;
  padding: 6px;
}

.red {
  background-color: #f00; 
  border-color: #600;
}

.blue {
  background-color: #00f; 
  border-color: #006;
}

.orange {
  background-color: #f60; 
  border-color: #620;
}

.gray {
  background-color: #666; 
  border-color: #222;
}

.remove-decor {
  text-decoration: none;
  
}