h1, .body_text {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.body_text {    
  font-size: 18px;
}

h1 {
  font-size: 20px;
  font-weight: 500;
  color: #f00;
}

.list_item {
  font-size: 16px;
}