div.button_set {
  box-sizing: border-box;
  display: grid;
  grid: 160px / 1fr 1fr 1fr;
  gap: 10px;
}

div.button_set > button {
  font-size: 24px;
  border-style: solid;
  height: 160px;
}

@media (max-width: 800px) {
  div.button_set {
    box-sizing: border-box;
    display: grid;
    margin: 10px;
    grid: 160px / 1fr;
    gap: 10px;
  }
}

.button_red {
  background-color: hsl(0, 100%, 70%);
  color: #fff;
  border-color: hsl(0,100%,50%);
}

.button_red:hover, .button_red:active {
  background-color: hsl(0, 100%, 50%);
}

.button_blue {
  background-color: hsl(240, 100%, 70%);
  color: #fff;
  border-color: hsl(240,100%,50%);
}

.button_blue:hover, .button_blue:active {
  background-color: hsl(240, 100%, 50%);
}

.button_orange {
  background-color: hsl(24, 100%, 70%);
  color: #fff;
  border-color: hsl(24,100%,50%);
}

.button_orange:hover, .button_orange:active {
  background-color: hsl(24, 100%, 50%);
}