div.button_set {
  box-sizing: border-box;
  display: grid;
  margin: 10px;
  grid: 160px / 1fr 1fr 1fr;
  gap: 10px;
}

div.button_set > button {
  font-size: 24px;
  border-style: solid;
  height: 160px;
}

@media (max-width: 800px) {
  div.button_set {
    box-sizing: border-box;
    display: grid;
    margin: 10px;
    grid: 160px / 1fr;
    gap: 10px;
  }
}

.button_red {
  background-color: hsl(0, 100%, 70%);
  color: #fff;
  border-color: hsl(0,100%,50%);
}

.button_red:hover, .button_red:active {
  background-color: hsl(0, 100%, 50%);
}

.button_blue {
  background-color: hsl(240, 100%, 70%);
  color: #fff;
  border-color: hsl(240,100%,50%);
}

.button_blue:hover, .button_blue:active {
  background-color: hsl(240, 100%, 50%);
}

.button_orange {
  background-color: hsl(24, 100%, 70%);
  color: #fff;
  border-color: hsl(24,100%,50%);
}

.button_orange:hover, .button_orange:active {
  background-color: hsl(24, 100%, 50%);
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
